canvas{
    background-color: #0c2a42;
    display: block;
}

.game {
    display: flex;
    height: auto;
    justify-content: center;
    padding: 16px;
    position: absolute;
    right: 0;
}

.game__score-info {
    display: block;
    font-family: 'Sigmar One', cursive;
    font-size: x-large;
    min-width: 150px;
}

.game__score {
    color: #FF9800;
}